h1 {
    font-weight: bold;
    text-align: center;
    color: #F0EBF0;
}

.nav-item {
    padding: 30px;
    color: #F0EBF0;
    text-align: center;
    margin-bottom: 0;
}

.nav-item:hover {
color: #E5BDA5;
}

.active {
    color: #97a7ba;
  }
  .logo {
      max-height: 50px;
  }



