body {
  background-color:  #525259;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#new-btn button {
  padding: 10px 15px;
  background-color: #E5BDA5;
  color: #525259;
  border: 1px solid #6D6981;
  background-color: 250ms;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #97A7BA;
  color:  #525259;
}


.donePot {
  max-width: 12rem;
  max-height: auto;
  display: flex;
}

.btn-secondary{
  padding: 10px 15px;
  background-color: #6D6981;
  color: #F0EBF0;
  border: 1px solid #E5BDA5;
  background-color: 250ms;
  border-radius: 5px;
  margin: 0 auto;
}

.add-btn {
  padding: 10px 15px;
  background-color: #E5BDA5;
  color: #525259;
  border: 1px solid #6D6981;
  border-radius: 5px;
  background-color: 250ms;
  /* float: right; */
}

.potCard {
  background-color: #F0EBF0;
  height: 430px;
  margin: 3px;
  align-items: center;
}

.cardImg {
  padding-top: 3px;
}
.searchBox {
  display: flex;
flex-direction: row-reverse;
}
.searchInputBar {
  height: 30px;
  background-color: #F0EBF0;
  width: 30%;
  border-radius: 5px;
  
}
.search-btn {
  height: 30px;
  padding: 5px;
  background-color: #7c8a9b;
  color: #F0EBF0;
  border: 1px solid #E5BDA5;
  background-color: 250ms;
  border-radius: 5px;
  
}

.nav-links {
  justify-content: space-between;
}
.lineBreak {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color:#f0ebf0;
  opacity: 0.3;
}
.section-content {
  padding-bottom: 10px;
}
.formBody {
  padding-top: 15px;
}
.cardDetail {
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 25px;
  background-color:  #E5BDA5;
  border-radius: 5px;
}
.edit-btn {
  padding: 10px 15px;
  background-color: #6D6981;
  color: #F0EBF0;
  border: 1px solid black;
  background-color: 250ms;
  border-radius: 5px;
}
.delete-btn {
  padding: 10px 15px;
  background-color: maroon;
  color: #F0EBF0;
  border: 1px solid black;
  background-color: 250ms;
  border-radius: 5px;
}
.detail-img {
  padding-top: 30px;
}
.edit {
  padding-bottom: 10px;
}
.delete {
  padding-bottom: 10px;
}

.noPhoto {
  max-width: 12rem;
  max-height: auto;
  display: flex;
}

.card-body {
  text-align: center;
}

